<!--
  Nome do autor: Ilton Batista da Silva Júnior
  Data de criação do arquivo: 26/12/2019
  Objetivo sucinto do programa: index
  Referencia ao enunciado/origem do exercicio:
-->

<!DOCTYPE html>
<html ng-app="aplicacao">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
      
      <script src="scripts/libs/angular.js"></script>
      <script src="scripts/app.js"></script>
      <script src="scripts/controller.js"></script>
      <script src="scripts/libs/bootstrap.js"></script>
      <script src="scripts/libs/angular-ui-router.js"></script>

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    </head>
    <!--NAVEGADOR-->
    <body class="container" ng-controller="controller">
      <nav class="navbar navbar-expand-sm bg-dark fixed-top navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="divColor">Kougatia</a>
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Mais
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Tabela de clientes</a>
              <a class="dropdown-item" href="#">Contato</a>
            </div>
          </li>
        </ul>
      </nav>
      <br>

      <!--TABELA CLIENTE-->
      <br><br>
      <div class="container">
        <h2>TABELA DE CLIENTES</h2>
        <p>Tabela para pesquisar os clientes da Kougatia:</p>  
        <p>Filtro: <input type="text" ng-model="filNome" ng-model="filEmail"></p>    
        <ul>
          <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th>Nomes</th>
              <th>Cidades</th>
              <th>Sobrenome</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="nome in nomes | filter:filNome">
              <td>{{ nome.name }}</td>
              <td>{{ nome.country }}</td>
              <td>{{ nome.sobrenome }}</td>
              <td>{{ nome.email }}</td>

            </tr>
          </tbody>

          
          </table>
        </ul>
      </div>

        <footer>
          <div class="container">
            <div class="progress">
              <div class="progress-bar" style="width:90%">90%</div>
            </div>
          </div>
        </footer>
    </body>
</html>